<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item disabled" style="color:#545454; background-color:#eff0f2;">DONE/TODO workouts</li>
    <li *ngFor="let al of WorkoutstoAddToDayAss; let i = index"
          class="list-group-item">
      <app-workout-todo
        [workout]="al.wk"
        [qty]="al.qty"
        [index] = i
      ></app-workout-todo>
    <li class="list-group-item">

      <h5 class="list-group-item-heading">Total</h5>
      <p class="list-group-item-text">
        {{CalsOut}} cal</p>
    </li>
    <li class="list-group-item" style="background-color:#f7f7f7">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <a [routerLink]=""
             (click)="submit()"
             style="color: #5b5b5b;">Submit</a>
        </div>
      </div>
    </li>
  </ul>
<!--  <div class="row">
    <div class="col-md-10 col-offset-1">
      <app-workout-todo
        *ngFor="let al of WorkoutstoAddToDayAss; let i = index"
        [workout]="al.wk"
        [qty]="al.qty"
        [index] = i
      ></app-workout-todo>
    </div>
  </div>-->
</div>

