<a
  style="cursor: pointer;"
  routerLinkActive="active"
  class="clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ workout.name }}</h4>
    <p class="list-group-item-text">{{ workout.kcal }} Kcal</p>
  </div>
  <span class="pull-right">

    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Duration</span>
  </div>
  <input class="form-control"
         id="qty" type="number"
         style="width: 50px"
         [(ngModel)] = "qty"
         class="form-control">
  <div class="input-group-append">
    <span class="input-group-text" (click)="add()">+</span>
  </div>
</div>


      </span>
</a>
