<div [@routerTransition]>
    <h2 class="text-muted">Welcome Dear! <small>here is Your General state </small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%" height="20%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
          <ngx-gauge [type]="gaugeType"
                     [value]="currentuser.imc"
                     [label]="gaugeLabel"
                     [thresholds]="thresholdConfig"
                     max="50"
          >
          </ngx-gauge>


        </div>

        <div class="col-md-4 ">
          <ngx-gauge [type]="gaugeType"
                     [value]="currentPourcentage"
                     [label]="InMoinOut+'cals'"
                     [thresholds]="thresholdConfigCals"
                     max="100"
          >
          </ngx-gauge>
          <ngx-gauge-label *ngIf="dexists == false" >
           start a day and fill your consumptions to see informations about calories
          </ngx-gauge-label>
        </div>

      <div class="col-md-4" style="margin-top: 80px" *ngIf="dexists == false">
        <button class="btn btn-danger" (click)="createDay()"> Start Your Day</button>
      </div>
      </div>

        <div class="row">
          <div class="col-md-4 offset-md-4">
            <button class="btn btn-danger" (click)="finishDay()" *ngIf="dexists == true">Finish Day</button>
          </div>
        </div>

    <hr />
    <ngb-alert [type]="alert1.type" (close)="closeAlert(alert1)" >{{ alert1.message }}</ngb-alert>
    <ngb-alert [type]="alert2.type" (close)="closeAlert(alert2)" *ngIf="balance>0">{{ alert2.message }}</ngb-alert>
    <hr />
    <!--<div class="row">-->
        <!--<div class="col-lg-8">-->
            <!--<div class="card card-default">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-clock-o fa-fw"></i> Responsive Timeline-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-timeline></app-timeline>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
             <!--/.card -->
        <!--</div>-->
        <!-- /.col-lg-8 -->
        <!--<div class="col-lg-4">-->
            <!--<div class="card card-default mb-3">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications card-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-notification></app-notification>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->

            <!--<app-chat></app-chat>-->
            <!--&lt;!&ndash; /.card .chat-card &ndash;&gt;-->
        <!--</div>-->
        <!-- /.col-lg-4 -->
    <!--</div>-->
</div>



