<div class="container-fluid">
  <h2 style="color: #7b0f00">Select Workouts! </h2>
  <p align="left">
    <input type="text"
           #workoutn
           id="search"
           [(ngModel)]="str"
           [ngModelOptions]="{standalone: true}"
           placeholder="Search for..."
           required
           (keyup)="searchByReg()"
    >
    <button type="submit" value="go" id="submit" (click)="search(workoutn)">GO</button>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-10 col-offset-1">
      <app-workout-el
        *ngFor="let wk of allworkouts; let i = index"
        [workout] ="wk"
      ></app-workout-el>
    </div>

  </div>

</div>
