<div class="container-fluid">
<h2 style="color: #7b0f00">Select consumed aliments ! </h2>
<p align="left">
  <input type="text"
         #alimentName
         id="search"
         [(ngModel)]="str"
         [ngModelOptions]="{standalone: true}"
         placeholder="Search for..."
         required
         (keyup)="searchByReg(alimentName.value)"
  >
  <button type="submit" value="go" id="submit" (click)="search(alimentName.value)">GO</button>
</p>
<hr>
<div class="row">
  <div class="col-md-10 col-offset-1">
    <app-aliment-el
      *ngFor="let al of allAliments; let i = index"
      [aliment]="al"
      ></app-aliment-el>
  </div>

</div>

</div>
