<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>



<div class="container">

  <h2>Welcome {{user.firstName}} {{user.lastName}} </h2>

  <div class="row">

    <div class="col-md-offset-3 col-md-6 ">

      <div class="panel panel-default">
        <div class="panel-heading">  <h4 >User Profile</h4></div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
              <div class="col-sm-6">
                <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                  <input id="profile-image-upload" class="hidden" type="file">


                </div>

                <br>

                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <h4 style="color:#00b1b1;">{{user.username}} </h4>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">




              <div class="col-sm-5 col-xs-6 tital " >Username</div><div class="col-sm-7"> {{user.username}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">{{user.firstName}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>


              <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> {{user.lastName}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>


              <div class="col-sm-5 col-xs-6 tital " >imc:</div><div class="col-sm-7"> {{user.imc}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>


              <div class="col-sm-5 col-xs-6 tital " >diet pace:</div><div class="col-sm-7"> {{user.diet_pace  }}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>

              <div class="col-sm-5 col-xs-6 tital " >Age</div><div class="col-sm-7">{{user.age}}</div>

              <div class="clearfix"></div>
              <div class="bot-border"></div>


              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
      <div class="row">
          <div class="col-md-offset-3 col-md-6 ">
            <button class="btn btn-warning" (click)="onEdit()"> Edit</button>

          </div>
      </div>
    </div>

    <script>
      $(function() {
        $('#profile-image1').on('click', function() {
          $('#profile-image-upload').click();
        });
      });
    </script>



  </div>
</div>




