<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular7</h1>
          <form #f ="ngForm" (ngSubmit)="onSubmit(f)"  >
            <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               class="form-control input-underline input-lg"
                               id="firstName"
                               ngModel
                               name ="firstName"
                               placeholder="firstName"
                               required>
                    </div>

                  <div>
                    <input type="text"
                           class="form-control input-underline input-lg"
                           id="lastName"
                           name="lastName"
                           ngModel
                           placeholder="lastName">
                  </div>

              <div>
                <input type="text"
                       class="form-control input-underline input-lg"
                       id="username"
                       name="username"
                       ngModel
                       placeholder="username">
              </div>

              <div>
                <input type="email"
                       class="form-control input-underline input-lg"
                       id="email"
                       name="email"
                       ngModel
                       placeholder="email">
              </div>
              <div>
                <input type="number"
                       class="form-control input-underline input-lg"
                       id="age"
                       name="age"
                       ngModel
                       placeholder="age">
              </div>

              <div>
                <input type="text"
                       class="form-control input-underline input-lg"
                       id="sex"
                       name="sex"
                       ngModel
                       placeholder="sex">
              </div>

                    <div>
                        <input type="password"
                               class="form-control input-underline input-lg"
                               id="password"
                               name="password"
                               ngModel
                               placeholder="Password">
                    </div>

                    <!--<div>-->
                        <!--<input type="password"-->
                               <!--class="form-control input-underline input-lg"-->
                               <!--id="passwordr" placeholder="Repeat Password">-->
                    <!--</div>-->
              <div *ngIf="showError == true">
                <span class="alert" >username or password already exists</span>

              </div>
                </div>
                <button type="submit" class="btn rounded-btn" >Continue</button>&nbsp;
            </form>
        </div>
    </div>
</div>

