<a
  style="cursor: pointer;"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ aliment.name }}</h4>
    <p class="list-group-item-text">{{ aliment.cals }} Kcal</p>
  </div>
  <span class="pull-right">
       <label for="qty">quantity</label>
       <input

               id="qty" type="number"
               style="width: 50px"
                [(ngModel)] = "qty"
       >
            &nbsp;&nbsp;&nbsp;<button class ="btn btn-info" (click)="add()">+</button>

      </span>

</a>
